<!DOCTYPE html>
<meta charset="UTF-8">

<body>
	<h1>Hello!</h1>
	#if($message)
	<h2>$message</h2>
	#end
	
	<div>
		<form method="POST" enctype="multipart/form-data" action="/upload">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
	
</body>