<!DOCTYPE html>
<meta charset="UTF-8">
<head>
	<style>
		.scoreNumber{color:#2DE583}
	</style>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/dropzone.js"></script>
	<script type="text/javascript">
		Dropzone.autoDiscover = false;
		$(function() {
		  // Now that the DOM is fully loaded, create the dropzone, and setup the
		  // event listeners
		  var myDropzone = new Dropzone("#dropzone-form");
		  myDropzone.on("success", function(file, response) {
		  	if(response.error != null) {
		    	$("#errorDiv").html("<span color='red'>There was an error:</span>" + response.error);
		    	$("#scoreH2").empty();
            } else {
            	$("#scoreH2")
            		.append("The Score is: <span class='scoreNumber'>" + response.score +"</span>")
            		.append("<img src='images/steve.jpg'/>");
            	$("#errorDiv").empty();
            }
		  });
		})
	</script>
	<link rel="stylesheet" href="/scripts/dropzone.css">
</head>
<body>
	<h1>ISpy</h1>
	<div id="errorDiv"></div>
	<h2 id="scoreH2"></h2>
	
	<div>
		<form id="dropzone-form" method="POST" enctype="multipart/form-data" action="/upload" class="dropzone">
			
		</form>
	</div>
	
</body>